---
import "../styles/tokens.css";
import "../styles/globals.css";

import AdminApp from "../admin/AdminApp";
---

<html lang="cs" data-theme="light">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Administrace</title>
  </head>

  <body>
    <AdminApp client:load />
  </body>
</html>
